.header {
    min-height: 1.6rem;
}

.header__inner {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active{
    background: #ECE9DF;
    padding: 2.4rem;
    min-height: 1.6rem;
}
.menu {
    display: flex;
   
}
.menu > li {
    margin-left: 3rem;
}